{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    {% if user %}
      <div class="card">
        <div class="card-header">
          <h4>Profile Information</h4>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4 font-weight-bold">Username:</div>
            <div class="col-md-8">{{ user.username }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4 font-weight-bold">Email:</div>
            <div class="col-md-8">{{ user.email }}</div>
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    {% else %}
      <p class="text-center">User not found.</p>
    {% endif %}
  </div>
{% endblock %}
