{% extends 'base.html' %}

{% block content %}
  <div class="container my-4">
    <h2 class="mb-4 text-center text-primary">Events List</h2>
     
      <div class="card mb-4 shadow-sm border-primary">
        <div class="card-header bg-primary text-white">
            {%for event in P_event%}        
        </div>
        <div class="card-body">     
          <p class="card-text">
            <strong>Day:</strong> {{ event.day }}<br />
            <strong>Start Time:</strong> {{ event.start_date }}<br />
            <strong>End Time:</strong> {{ event.end_date }}<br />
            <strong>Notes:</strong> {{ event.notes }}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          {% if request.user == event.person %}
            <a href="{% url 'edit' event.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete' event.id %}" class="btn btn-danger btn-sm">Delete</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <div class="alert alert-info text-center" role="alert">
        No events found.
      </div>
   
  </div>
{% endblock %}


